body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #eccbcb;
}

fieldset {
    border: 1px solid #390505;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffffff;
    border: 1px solid #581b1b;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}